<div class="portal"> 
<img src="images/we-are-open.jpg" class="portal__image" >
<h1 
    class="portal__title"
    data-aos="fade-up" 
    data-aos-delay="800"
    data-aos-duration="1200"
>Casa Varejo</h1>
</div>    