<% if @produtos.length > 0 %>
    <h2 class="mb-5"> 
    <%= pluralize(@produtos.length, "produto") %> 
    <%= "encontrado".pluralize(@produtos.length) %>!
    </h2>
    <% @produtos.each do |p| %>
        <%= render partial: 'card_produto', locals: { p: p} %>
    <% end %>
<% else %>
    <h2 class="">Nenhum produto encontrado</h2>
<% end %>